body {
  overflow: hidden;
  background-image: radial-gradient(circle at 50% 50%, rgb(255, 255, 255) 10%, rgb(0, 0, 0) 100%);
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#log-area {
  font-size: 16px;
  height: 100vh;
  width: 20em;
  background-color: transparent;
  color: white;
  border: none;
  resize: none;
  pointer-events: none;
  user-select: none;
}

#chessboard {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 64vh;
  height: 64vh;
  background-image: url(./images/chessboard.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1vh solid;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  transform: translate(-50%, -50%);
}

#black-timer {
  top: 10vh;
}

#white-timer {
  bottom: 10vh;
}

#white-resign-button {
  color: white;
  bottom: 10vh;
  transform: translateX(-15vh);
}

#black-resign-button {
  top: 10vh;
  transform: translateX(-15vh);
}

.alert {
  position: fixed;
  top: 47.5vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  user-select: none;
}

.resign-button {
  position: fixed;
  font-size: 5vh;
  left: 50%;
  transform: translateX(-50%);
  cursor: grab;
  user-select: none;
}

.timer.active {
  color: red;
}

.timer {
  position: fixed;
  font-family: consolas;
  font-size: 5vh;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}

.highlight {
  background-color: green;
}

.empty-square {
  width: 8vh;
  height: 8vh;
  user-select: none;
  content: url("./images/empty-square.png");
}

.piece {
  width: 8vh;
  height: 8vh;
  cursor: grab;
  user-select: none;
}

.white-promotion-menu {
  content: url("./images/white-promotion-menu.png");
}

.black-promotion-menu {
  content: url("./images/black-promotion-menu.png");
}

.black-pawn {
  content: url("./images/black-pawn.png");
}

.black-knight {
  content: url("./images/black-knight.png");
}

.black-bishop {
  content: url("./images/black-bishop.png");
}

.black-rook {
  content: url("./images/black-rook.png");
}

.black-queen {
  content: url("./images/black-queen.png");
}

.black-king {
  content: url("./images/black-king.png");
}

.white-pawn {
  content: url("./images/white-pawn.png");
}

.white-knight {
  content: url("./images/white-knight.png");
}

.white-bishop {
  content: url("./images/white-bishop.png");
}

.white-rook {
  content: url("./images/white-rook.png");
}

.white-queen {
  content: url("./images/white-queen.png");
}

.white-king {
  content: url("./images/white-king.png");
}
